{% macro icon(type, class) %}
<svg class="{{ class }} icon">
  <use href="/src/assets/sprite.svg?t=123#icon-{{ type }}" />
</svg>
{% endmacro %}

{% macro button(text) %}
<button>
  {{ text }}
</button>
{% endmacro %}
