{% import 'src/templates/partials/ui/elements.njk' as ui %}

<section class="pricing">
  <div class="pricing__wrapper wrapper">
    <p class="pricing__category">PRICING PLAN</p>
    <h4 class="pricing__heading">Choose The Perfect Plan for Creative Potential</h4>

    <div class="pricing__cards-block">
      {% for item in pricing %}
        <div class="pricing__card-item{% if item.label %} pricing__card-item--labeled {% endif %}">
          {% if item.label %}
            <p class="pricing__label label">
              {{ item.label }}
            </p>
          {% endif %}
          <p class="pricing__title">
            {{ item.title }}
          </p>

          <div class="pricing__title-block">
            <p class="pricing__price">
              {{ item.price }}
            </p>
            <p class="pricing__month">
              {{ item.month }}
            </p>
          </div>

          <ul class="pricing__offer-list">
            {% for item in item.offer %}
              <li class="pricing__offer-item">
                {{ ui.icon('check', 'pricing__offer-icon') }}
                {{ item.variant }}
              </li>
            {% endfor %}
          </ul>
          <button
            type="button"
            class="pricing__button button {% if item.label %} button--primary {% else %} button--secondary {% endif %}button--lg button--full"
          >
            {{ item.button }}
          </button>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
