@use "/src/styles/global/mixin";
@use "/src/styles/global/breakpoints" as bp;

.blog-article-categories {
  &__title {
    @extend %h4;

    margin: 0 0 var(--spacer-3);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-0);
    margin: 0;
    padding: 0;

    & & {
      margin-top: var(--spacer-0);
    }
  }

  &__item {
    position: relative;
    padding-left: calc(var(--spacer-0) * 2);

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: var(--spacer-0);
      width: var(--spacer-0);
      height: var(--spacer-0);
      border-radius: var(--spacer-0);
      background: var(--color-marina-800);
    }
  }

  &__link {
    @extend %body-p2;

    color: var(--color-text-icons-elements-secondary);

    &--active {
      font-weight: 600;
      color: var(--color-primary);
    }
  }
}
