@use "/src/styles/global/mixin";

.blog-article-header {
  padding: var(--spacer-6) 0 var(--spacer-5);

  &__categories{
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacer-2);
    margin: 0 0 var(--spacer-3);
  }

  &__category{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    min-height: 40px;
    border-radius: 100px;
    background: var(--color-marina-800);
    color: var(--color-primary-white);

    @extend %body-p2-medium;

    padding: var(--spacer-0) var(--spacer-1);
  }

  &__title{
    @extend %h1;

    margin: 0 0 var(--spacer-6);
  }

  &__img-wrapper{
    overflow: hidden;
    border-radius: 20px;
  }
}