<aside class="blog-article-aside">
  <div class="blog-article-aside__el">
    {% include 'src/templates/partials/blog-article/author.njk' %}
  </div>
  <div class="blog-article-aside__el">
    {% include 'src/templates/partials/blog-article/categories.njk' %}
  </div>
  <div class="blog-article-aside__el">
    {% include 'src/templates/partials/blog-article/latest-articles.njk' %}
  </div>
</aside>
