<nav class="blog-article-categories">
  <h3 class="blog-article-categories__title">Categories</h3>
  <ul class="blog-article-categories__list">
    <li class="blog-article-categories__item">
      <a class="blog-article-categories__link" href="#">Graphic Design Trends</a>
      <ul class="blog-article-categories__list">
        <li class="blog-article-categories__item">
          <a class="blog-article-categories__link blog-article-categories__link--active" href="#">Typography & Fonts</a>
        </li>
      </ul>
    </li>
    <li class="blog-article-categories__item">
      <a class="blog-article-categories__link" href="#">UI/UX Design</a>
    </li>
    <li class="blog-article-categories__item">
      <a class="blog-article-categories__link" href="#">Branding & Identity</a>
    </li>
    <li class="blog-article-categories__item">
      <a class="blog-article-categories__link" href="#">Illustration</a>
    </li>
    <li class="blog-article-categories__item">
      <a class="blog-article-categories__link" href="#">Digital Marketing</a>
    </li>
  </ul>
</nav>
