<header class="blog-article-header">
    <div class="wrapper wrapper--column">
        <div class="blog-article-header__categories">
            <div class="blog-article-header__category">
                TYPOGRAPHY
            </div>
        </div>
        <h1 class="blog-article-header__title">
            Mastering the Art of Typography:
            <br>
            Tips for Eye-Catching Designs for 2024
        </h1>
        <div class="blog-article-header__img-wrapper">
            <img src="/src/assets/images/blog-article-header.jpg?format=webp"
                 alt="Blog Article Header Image">
        </div>
    </div>
</header>