<aside class="blog-article-latest">
    <h3 class="blog-article-latest__title">Latest Articles</h3>
    <div class="blog-article-latest__items">
        <div class="blog-article-latest__item">
            <div class="blog-article-latest__name">Text</div>
            <div class="blog-article-latest__date">March 15, 2024</div>
        </div>
        <div class="blog-article-latest__item">
            <div class="blog-article-latest__name">Text</div>
            <div class="blog-article-latest__date">March 15, 2024</div>
        </div>
    </div>
</aside>