{#<aside class="blog-article-related">#}
{#    <div class="wrapper wrapper--column">#}
{#        <div class="blog-article-related__header">#}
{#            <h2 class="blog-article-related__title">#}
{#                Related Articles#}
{#            </h2>#}
{#            <a class="blog-article-related__all" href="#">#}
{#                Explore All Articles#}
{#                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">#}
{#                    <path d="M6 12L10 8L6 4" stroke="#0265DC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>#}
{#                </svg>#}
{#            </a>#}
{#        </div>#}
{#        <div class="blog-article-related__items">#}
{#            <div class="blog-article-related__item">#}
{#                <img src="/src/assets/images/user-0.jpg?format=webp"#}
{#                     alt="Blog Article Author">#}
{#            </div>#}
{#            <div class="blog-article-related__item">#}
{#                <img src="/src/assets/images/user-0.jpg?format=webp"#}
{#                     alt="Blog Article Author">#}
{#            </div>#}
{#            <div class="blog-article-related__item">#}
{#                <img src="/src/assets/images/user-0.jpg?format=webp"#}
{#                     alt="Blog Article Author">#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</aside>#}