{% extends 'src/templates/layouts/base.njk' %}

{% block styles %}
    <link rel="stylesheet" href="/src/styles/pages/catalog.scss" />
{% endblock %}

{% set activePage = 'Catalog' %}

{% block content %}
    <article>
        {% include 'src/templates/partials/catalog/header.njk' %}
        {% include 'src/templates/partials/catalog/content.njk' %}
    </article>
{% endblock %}