{% extends 'src/templates/layouts/base.njk' %}

{% block styles %}
  <link rel="stylesheet" href="/src/styles/pages/home.scss">
{% endblock %}

{% set activePage = 'Home' %}

{% block content %}
  {% include 'src/templates/partials/home/main-banner.njk' %}
  {% include 'src/templates/partials/home/products.njk' %}
  {% include 'src/templates/partials/home/categories.njk' %}
  {% include 'src/templates/partials/home/trending.njk' %}
  {% include 'src/templates/partials/home/pricing.njk' %}
  {% include 'src/templates/partials/home/faq.njk' %}
  {% include 'src/templates/partials/home/blog.njk' %}
{% endblock %}
