<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description | default('Pixmart | Digital servises for your business.') }}">
    <meta name="keywords" content="pixmart, ui kit, social media, marketing, digital servcies">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Pixmart Ltd.">
    <title>
      {{ siteTitle }}
    </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100..900&family=Plus+Jakarta+Sans:wght@200..800&display=swap"
      rel="stylesheet"
    >

    <link rel="stylesheet" href="/src/styles/style.scss">
    {% block styles %}{% endblock %}
  </head>
  <body>
    {% include 'src/templates/partials/common/header.njk' %}
    <main>
      {% block content %}
        default content
      {% endblock %}
    </main>
    {% include 'src/templates/partials/common/footer.njk' %}
  </body>
</html>
