<aside class="catalog-filters">
  <div class="catalog-filters__wrapper">
    <h3 class="catalog-filters__title">Categories</h3>
    <ul class="catalog-filters__list">
      <li class="catalog-filters__item">
        <label class="catalog-filters__label">
          <input type="checkbox" class="catalog-filters__checkbox checkbox" checked>
          All Categories
        </label>
      </li>
      <li class="catalog-filters__item">
        <label class="catalog-filters__label">
          <input type="checkbox" class="catalog-filters__checkbox checkbox">
          Technology
        </label>
      </li>
      <li class="catalog-filters__item">
        <label class="catalog-filters__label">
          <input type="checkbox" class="catalog-filters__checkbox checkbox">
          Health & Fitness
        </label>
      </li>
    </ul>
  </div>

  <nav class="catalog-filters__wrapper">
    <h3 class="catalog-filters__title">Format Type</h3>
    <ul class="catalog-filters__list">
      <li class="catalog-filters__item">
        <label class="catalog-filters__label">
          <input type="radio" class="catalog-filters__radio" name="format-type" value="1" checked>
          Figma
        </label>
      </li>
      <li class="catalog-filters__item">
        <label class="catalog-filters__label">
          <input type="radio" class="catalog-filters__radio" name="format-type" value="2">
          Sketch
        </label>
      </li>
      <li class="catalog-filters__item">
        <label class="catalog-filters__label">
          <input type="radio" class="catalog-filters__radio" name="format-type" value="3">
          Adobe XD
        </label>
      </li>
    </ul>
  </nav>

  <div class="catalog-filters__wrapper">
    <h3 class="catalog-filters__title">Style</h3>
    <ul class="catalog-filters__list">
      <li class="catalog-filters__item">
        <label class="catalog-filters__label">
          <input type="checkbox" class="catalog-filters__checkbox checkbox" checked>
          Minimalist
        </label>
      </li>
      <li class="catalog-filters__item">
        <label class="catalog-filters__label">
          <input type="checkbox" class="catalog-filters__checkbox checkbox">
          Modern
        </label>
      </li>
      <li class="catalog-filters__item">
        <label class="catalog-filters__label">
          <input type="checkbox" class="catalog-filters__checkbox checkbox">
          Playful
        </label>
      </li>
    </ul>
  </div>

  <div class="catalog-filters__wrapper">
    <h3 class="catalog-filters__title">Price</h3>
    <div class="catalog-filters__range">
      <label>
        Min
        <input type="range" max="250" min="0" step="1" value="5">
      </label>
      <label>
        Max
        <input type="range" max="250" min="0" step="1" value="50">
      </label>
    </div>
  </div>
</aside>
