<header class="catalog-header">
  <div class="catalog-header__bg">
    <img
      src="/src/assets/images/catalog-header-bg.svg"
      alt="Catalog Header Background"
    >
  </div>
  <div class="wrapper wrapper--column">
    <h1 class="catalog-header__title">
      Explore Top
      <br>
      <mark>UI Kits</mark> Design Assets
    </h1>
  </div>
</header>
